@model IdentityRole
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Role</h1>

<form asp-action="Create" enctype="text/plain">

    <partial name="PartialViews/CreateEditRolePartialView" />

<input type="submit" value="Submit" class="btn btn-primary"/>

   | <a asp-action="Index" cite="btn btn-light">Back To List</a>  
</form>

@section validationscriptsection{

    <partial name="_ValidationScriptsPartial"/>
}
