
@{
    ViewData["Title"] = "CheckYolurInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Yolur Inbox</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Password Reset link has been sent your Email. please check your inbox
            </div>
        </div>
        
        <a href="http://mail.google.com/mail/u/0/#inbox">Your Inbox</a>

    </div>

</div>

